code/src/parser/xml/customers.xsd

<?xml version="1.0" encoding="UTF-8"?>
   <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
         <!-- XML Schema Generated from XML Document on Fri Oct 06 2017 22:43:37 GMT-0500 (Central Daylight Time) -->
         <!-- with XmlGrid.net Free Online Service http://xmlgrid.net -->
         <xs:element name="customers">
               <xs:complexType>
                     <xs:sequence>
                           <xs:element name="customer" maxOccurs="unbounded">
                                 <xs:complexType>
                                       <xs:sequence>
                                             <xs:element name="CustomerID">
                                             <xs:simpleType>   
                                             <xs:restriction base="xs:string">
                                             <xs:pattern value="[0-9][0-9][0-9][0-9]"/>
                                             </xs:restriction>
                                             </xs:simpleType>                                               
                                             </xs:element>
                                             <xs:element name="CustomerTitle" type="xs:string"></xs:element>
                                             <xs:element name="BusinessName" type="xs:string"></xs:element>
                                             <xs:element name="Company_Name" type="xs:string"></xs:element>
                                             <xs:element name="Contact_Name" type="xs:string"></xs:element>
                                             <xs:element name="address">
                                                   <xs:complexType>
                                                         <xs:sequence>
                                                               <xs:element name="BillingAddress" type="xs:string"></xs:element>
                                                               <xs:element name="City" type="xs:string"></xs:element>
                                                               <xs:element name="StateOrProvince" type="xs:string"></xs:element>
                                                               <xs:element name="PostalCode" type="xs:int"></xs:element>
                                                               <xs:element name="Country_Region" type="xs:string"></xs:element>
                                                         </xs:sequence>
                                                   </xs:complexType>
                                             </xs:element>
                                             <xs:element name="contactdetails">
                                                   <xs:complexType>
                                                         <xs:sequence>
                                                               <xs:element name="contactnumber">
                                                                     <xs:complexType>
                                                                           <xs:sequence>
                                                                                 <xs:element name="PhoneNumber">
                                                                                    
                                             <xs:simpleType>   
                                             <xs:restriction base="xs:string">
                                             <xs:pattern value="[0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9]"/>
                                             </xs:restriction>
                                             </xs:simpleType>
                                                                                 </xs:element>
                                                                                 <xs:element name="CellNumber">
                                                                                    
                                             <xs:simpleType>   
                                             <xs:restriction base="xs:string">
                                             <xs:pattern value="[0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9]"/>
                                             </xs:restriction>
                                             </xs:simpleType>
                                                                                 </xs:element>
                                                                           </xs:sequence>
                                                                     </xs:complexType>
                                                               </xs:element>
                                                               <xs:element name="FaxNumber" type="xs:int"></xs:element>
                                                               <xs:element name="EmailAddress" type="xs:string"></xs:element>
                                                         </xs:sequence>
                                                   </xs:complexType>
                                             </xs:element>
                                             <xs:element name="alternatecontact">
                                                   <xs:complexType>
                                                         <xs:sequence>
                                                               <xs:element name="contact_number" >
                                                                  
                                             <xs:simpleType>   
                                             <xs:restriction base="xs:string">
                                             <xs:pattern value="[0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9]"/>
                                             </xs:restriction>
                                             </xs:simpleType>
                                                               </xs:element>
                                                               <xs:element name="Alternate_Contact_Name" type="xs:string"></xs:element>
                                                         </xs:sequence>
                                                   </xs:complexType>
                                             </xs:element>
                                             <xs:element name="DateEntered" type="xs:string"></xs:element>
                                             <xs:element name="Eligibility">
                                                   <xs:complexType>
                                                         <xs:sequence>
                                                               <xs:element name="from" type="xs:string"></xs:element>
                                                               <xs:element name="to">
                                                                     <xs:complexType>
                                                                           <xs:sequence>
                                                                                 <xs:element name="to_one" type="xs:string"></xs:element>
                                                                                 <xs:element name="to_two" type="xs:string"></xs:element>
                                                                                 <xs:element name="to_three" type="xs:string"></xs:element>
                                                                           </xs:sequence>
                                                                     </xs:complexType>
                                                               </xs:element>
                                                         </xs:sequence>
                                                   </xs:complexType>
                                             </xs:element>
                                             <xs:element name="status" type="xs:string"></xs:element>
                                       </xs:sequence>
                                 </xs:complexType>
                           </xs:element>
                     </xs:sequence>
               </xs:complexType>
         </xs:element>
   </xs:schema>

