code/src/parser/xml/expense.xsd

<?xml version="1.0" encoding="UTF-8"?>
   <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
         <!-- XML Schema Generated from XML Document on Fri Oct 06 2017 23:32:46 GMT-0500 (Central Daylight Time) -->
         <!-- with XmlGrid.net Free Online Service http://xmlgrid.net -->
         <xs:element name="expense">
               <xs:complexType>
                     <xs:sequence>
                           <xs:element name="expense" maxOccurs="unbounded">
                                 <xs:complexType>
                                       <xs:sequence>
                                             <xs:element name="ExpenseID" >
                                                                  <xs:simpleType> 
                                                                     <xs:restriction base="xs:string">
                                                                     <xs:pattern value="[0-9]{4}"/>
                                                                     </xs:restriction>
                                                                  </xs:simpleType>                                               
                                             </xs:element>
                                             <xs:element name="EmployeeID" type="xs:int">
                                                

                                             </xs:element>
                                             <xs:element name="ExpenseType" type="xs:string"></xs:element>
                                             <xs:element name="PurposeofExpense" type="xs:string"></xs:element>
                                             <xs:element name="AmountSpent" type="xs:string"></xs:element>
                                             <xs:element name="Description" type="xs:string"></xs:element>
                                             <xs:element name="DatePurchased" type="xs:string"></xs:element>
                                             <xs:element name="DateSubmitted" type="xs:string"></xs:element>
                                             <xs:element name="AdvanceAmount" type="xs:int"></xs:element>
                                             <xs:element name="PaymentMethod" type="xs:string"></xs:element>
                                       </xs:sequence>
                                 </xs:complexType>
                           </xs:element>
                     </xs:sequence>
               </xs:complexType>
         </xs:element>
   </xs:schema>

 