code/src/parser/xml/Invoices.xsd

<?xml version="1.0" encoding="UTF-8"?>
   <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
         <!-- XML Schema Generated from XML Document on Fri Oct 06 2017 23:02:21 GMT-0500 (Central Daylight Time) -->
         <!-- with XmlGrid.net Free Online Service http://xmlgrid.net -->
         <xs:element name="invoices">
               <xs:complexType>
                     <xs:sequence>
                           <xs:element name="invoice" maxOccurs="unbounded">
                                 <xs:complexType>
                                       <xs:sequence>
                                             <xs:element name="invoiceID">
                                                
                                  <xs:simpleType>
                                  <xs:restriction base="xs:string">
                                  <xs:pattern value="[INV]{3}[0-9]{3}"/>
                                  </xs:restriction>
                                  </xs:simpleType>
                                             </xs:element>
                                             <xs:element name="OrderID" type="xs:string"></xs:element>
                                             <xs:element name="CustomerID" type="xs:int"></xs:element>
                                             <xs:element name="PaymentID" type="xs:string"></xs:element>
                                             <xs:element name="location">
                                                   <xs:complexType>
                                                         <xs:sequence>
                                                               <xs:element name="fromLocationID1" type="xs:string"></xs:element>
                                                               <xs:element name="TolocationID1" type="xs:string"></xs:element>
                                                               <xs:element name="fromlocationID2" type="xs:string"></xs:element>
                                                               <xs:element name="TolocationID2" type="xs:string"></xs:element>
                                                         </xs:sequence>
                                                   </xs:complexType>
                                             </xs:element>
                                             <xs:element name="Description"></xs:element>
                                             <xs:element name="Price" type="xs:int"></xs:element>
                                             <xs:element name="Quantity" type="xs:int"></xs:element>
                                             <xs:element name="Contact_Name" type="xs:string"></xs:element>
                                             <xs:element name="EmailAddress" type="xs:string"></xs:element>
                                       </xs:sequence>
                                 </xs:complexType>
                           </xs:element>
                     </xs:sequence>
               </xs:complexType>
         </xs:element>
   </xs:schema>
