code/src/parser/xml/Trucks.xsd

<?xml version="1.0" encoding="UTF-8"?>
   <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
         <!-- XML Schema Generated from XML Document on Fri Oct 06 2017 23:25:11 GMT-0500 (Central Daylight Time) -->
         <!-- with XmlGrid.net Free Online Service http://xmlgrid.net -->
         <xs:element name="Trucks">
               <xs:complexType>
                     <xs:sequence>
                           <xs:element name="truck" maxOccurs="unbounded">
                                 <xs:complexType>
                                       <xs:sequence>
                                             <xs:element name="TruckID" >
                                                
                                             <xs:simpleType>   
                                             <xs:restriction base="xs:string">
                                             <xs:pattern value="[0-9][0-9][0-9][0-9]"/>
                                             </xs:restriction>
                                             </xs:simpleType>
                                             </xs:element>
                                             <xs:element name="TruckNo" type="xs:string"></xs:element>
                                             <xs:element name="Truckdesc">
                                                   <xs:complexType>
                                                         <xs:sequence>
                                                               <xs:element name="Make" type="xs:string"></xs:element>
                                                               <xs:element name="Year" type="xs:int"></xs:element>
                                                               <xs:element name="Model" type="xs:string"></xs:element>
                                                               <xs:element name="Color" type="xs:string"></xs:element>
                                                         </xs:sequence>
                                                   </xs:complexType>
                                             </xs:element>
                                             <xs:element name="LicensePlateNo" type="xs:string"></xs:element>
                                             <xs:element name="VIN" >
                                                
                                             <xs:simpleType>
                                             <xs:restriction base="xs:string">
                                             <xs:pattern value="[0-9][A-Z][A-Z][A-Z][A-Z][0-9][0-9][A-Z][A-Z][A-Z][A-Z][0-9][0-9][0-9][0-9][0-9][0-9]"/>
                                             </xs:restriction>
                                             </xs:simpleType>
                                             </xs:element>
                                       </xs:sequence>
                                 </xs:complexType>
                           </xs:element>
                     </xs:sequence>
               </xs:complexType>
         </xs:element>
   </xs:schema>
